.main {
  min-height: 70vh;
  padding: 50px 0;
  box-sizing: border-box;
  background-color: #aa7c5a;
}

.main-container {
  padding: 0 30px;
  gap: 70px;
  flex-wrap: wrap;
}

.main-text-container {
  max-width: 450px;

  p {
    padding: 10px 0 10px 20px;
    text-align: justify;
  }

  a {
    align-self: flex-end;
    text-decoration: underline;
  }
}

.shop {
  min-height: 1500px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #fafafa;
  box-shadow: inset 0px 40px 47px -22px rgba(0, 0, 0, 0.2);

  h2 {
    color: #653e36;
    padding-top: 10px;
  }

  h3{
    color: #653e36;
    opacity: 0.75;
    text-align: center;
  }

  h4 {
    color: #653e36;
  }
}

.shop-menu {
  gap: 100px;
  h5{
    cursor: pointer;
  }
}

.shop-selected{
  text-decoration: underline;
}

.shop-items {
  padding: 50px 0;
  max-width: 80vw;
  gap: 50px 60px;
  flex-wrap: wrap;
}

@media screen and (max-width: 976px) {
  .main {
    padding: 0;
    min-height: 75vh;
  }
  .main-container{
    gap: 20px;
  }
  .main-photo > img {
    width: 300px;
  }
  .main-text-container {
    p {
      padding: 10px 0;
    }
  }


  .shop-menu{
    gap: 40px;
  }

  .shop-items{
    gap: 40px;
  }

  .shop-card{
    img{
      width: 120px;
    }
  }
}
