:root {
    --cappuccino-link: url('./images/cappucino-back-us.png');
    --macchiato-link: url("./images/macchiato-back-us.png");
    --site-background: #AE7C56;
    --color-1: #492C26;
    --color-1t: #492C26c0;
    --color-2: #FAFAFA;
    --color-2t: #FAFAFAb3;
    --color-3: #4F4E4E;
}

h1 {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-2);
    text-transform: capitalize;
}

h2 {
    font-weight: 600;
    font-size: 16px;
    color: var(--color-2);
}

h3 {
    font-weight: 400;
    font-size: 13px;
    color: var(--color-2t);
    text-transform: uppercase;
}

.container p {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-2);
}

span {
    gap: 10px;
}

path {
    stroke: var(--color-2);
    fill: var(--color-2);
}

input[type=checkbox] {
    margin-right: 7px;
    appearance: none;
    width: 13px;
    height: 13px;
    background-color: var(--color-2);
    border-radius: 3px;
    cursor: pointer;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 8px;
    height: 8px;
    transform: scale(0);
    transition: .1s transform ease-in-out;
    box-shadow: inset 1em 1em black;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type=radio] {
    appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    cursor: pointer;
}

/* input[type=radio]:checked {
    border: 1px solid black;
} */

#radio-holder {
    display: flex;
    gap: 5px;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 740px;
}

.filters {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 180px;
    gap: 15px;
    padding: 0 40px;
    /*temporary*/
    overflow: hidden;
}

.filters * {
    margin: 0;
    padding: 0;
}

.filters>div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filters>div>div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

#sss {
    display: none;
}

.filters-part {
    gap: 15px;
}

.color-filter {
    display: flex;
}

.color-filter input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.shop-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-title>span {
    display: none;
}

.shop-title>h1 {
    margin: 0;
}

.card-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px 0;
    /* min-height: 710px; */
}

.card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 260px;
    height: 325px;
    padding: 10px;
    gap: 5px;
    cursor: pointer;
}

.card>h1 {
    display: block;
    position: relative;
    cursor: pointer;
}

.card>h1::after {
    background-color: var(--color-2);
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.card:hover>h1::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.card * {
    padding: 0;
    margin: 0;
}

.color-and-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0;
}

.max-content {
    width: 100%;
}

/* da sistemare */
.top-nav h1 {
    font-weight: 600;
    font-size: 32px;
    color: var(--color-1);
}

@media screen and (max-width: 976px) {
    h3 {
        font-size: 11px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 14px;
    }

    .container {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 30px;
    }

    .filters {
        width: 100%;
        max-width: unset;
        padding: 0;
        border-bottom: 1px dotted var(--color-2);
        padding-bottom: 15px;
    }

    .filters>span {
        width: 100%;
        justify-content: space-between;
    }

    .filters>div {
        display: none;
        flex-direction: row;
        gap: 20px;
    }

    .filters>div>div {
        padding: 0;
    }

    #fff {
        display: none;
    }

    #sss {
        display: block;
    }

    .card-holder {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 15px 0;
    }

    .card {
        width: 160px;
        height: 220px;
    }

    .card img {
        width: 120px;
    }

    .top-nav path {
        stroke: var(--color-1);
        fill: var(--color-1);
    }

    .shop-title {
        display: none;
    }

    .top-nav h1 {
        font-size: 24px;
    }

    #shop-section {
        display: flex;
        justify-content: center;
    }
}

.for-load {
    .rec {
        position: relative;
        overflow: hidden;
        width: 200px;
        aspect-ratio: calc(4/5);
        background:#4F4E4E17;
    }

    .rec::before,
    h3::before,
    h1::before,
    h2::before,
    #radio-holder>div::before {
        content: "";
        position: absolute;
        top: 0;
        left: -150px;
        width: 100%;
        height: 100%;
        background: linear-gradient(80deg, transparent 20%, rgba(255, 255, 255, 0.05) 50%, transparent 80%);
        transform: skewX(-25deg);
        animation: shine 2s infinite ease-in-out;
    }

    h3 {
        position: relative;
        overflow: hidden;
        width: 50px;
        height: 80%;
        background:#4F4E4E17;
        content: '';
    }

    h1 {
        position: relative;
        overflow: hidden;
        width: 120px;
        height: 80%;
        background:#4F4E4E17;
        content: '';
    }

    h1::after{
        display: none;
    }

    h2 {
        position: relative;
        overflow: hidden;
        width: 30px;
        height: 80%;
        background:#4F4E4E17;
        content: '';
    }

    #radio-holder {
        div {
            position: relative;
            overflow: hidden;
            border-radius: 100%;
            width: 12px;
            height: 12px;
            background:#4F4E4E17;
        }
    }
}

@keyframes shine {
    0% {
        left: -150%;
    }

    100% {
        left: 150%;
    }
}