:root {
    --cappuccino-link: url('./images/cappucino-back-us.png');
    --macchiato-link: url("./images/macchiato-back-us.png");
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: #AA7C5A;
    width: 100vw;
    /* height: 400vh; */
}

path {
    stroke: #492C26;
    fill: #492C26;
}

.product-name {
    font-size: 26px;
    font-weight: 600;
}

.normal-text {
    font-weight: 400;
    font-size: 14px;
}

.paragraph {
    text-align: justify;
    text-justify: inter-word;
    color: white;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
}

.semi-title {
    color: white;
    font-size: 36px;
    margin: 15px;
}

.title {
    font-weight: 600;
    font-size: 32px;
    color: #492C26;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) -95.83%, rgba(0, 0, 0, 0) 100.83%);
    padding: 0 40px;
}

.menu {
    padding: 0 25px;
    display: none;
}

.close-menu {
    display: none;
}

.page-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-selector>p {
    padding: 0;
    margin: 0 20px;
    color: #492C26C0;
    font-size: 24px;
    cursor: pointer;
}

.tee {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 540px;
    width: 976px;
    padding: 20px 160px;
    padding-bottom: 140px;
}

.tee>div>img {
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
}

#cappuccino:hover {
    content: var(--cappuccino-link);
}

#macchiato:hover {
    content: var(--macchiato-link);
}

.bundle {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 100%;
    padding: 20px 90px;
}

.bundle>p {
    margin: 0;
    padding: 5px 0;
}

.purchase-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.buy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 170px;
    height: 100%;
    border-radius: 7px;
    background-color: white;
    cursor: pointer;
    transition: 0.1s ease-in;
}

.buy-button:hover {
    border-radius: 10px;
}

.section {
    position: absolute;
    top: 930px;
    background: #FAFAFA;
    height: 700px;
    width: 400vw;
    box-shadow: inset 0px 0px 47px rgba(0, 0, 0, 0.35);
    transform: translateX(-50%) rotate(-10.8deg);
    z-index: -1;
}

.left-oriented {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.right-oriented {
    /* padding: 140px;
    padding-left: 400px;
    padding-bottom: 0; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #492C26;
}

.right-oriented>.tee {
    padding-top: 0;
    padding-bottom: 40px;
    flex-direction: row-reverse;
}

.right-oriented>.bundle {
    color: #492C26;
    justify-content: flex-end;
}

.right-oriented>.bundle>.purchase-row {
    padding-bottom: 120px;
}

.view-more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 120px;
}

.view-more>p {
    color: #492C26C0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 300px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 306px;
    padding: 100px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0;
}

.social>div {
    width: 500px;
}

.social>div>p {
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.footer {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    height: 300px;
    background: #4F4E4E;
    color: rgba(255, 255, 255, 0.7);
}

.sitemap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 600px 0 70px;
    height: 250px;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.links {
    padding: 10px 0;
}

.links>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.links>div>p {
    margin: 5px 10px;
    padding: 1px 0;
}

/* animation 1 */

.page-selector>p,
.view-more>p {
    display: inline-block;
    position: relative;
}

.page-selector>p::after,
.view-more>p::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #492C26C0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.page-selector>p:hover::after,
.view-more>p:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.underline-on-hoover {
    display: block;
    position: relative;
    cursor: pointer;
}

.underline-on-hoover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-on-hoover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* portable */

@media screen and (max-width: 800px) {
    .tee {
        flex-direction: column;
        padding: 0;
        padding-top: 30px;
        padding-bottom: 150px;
    }

    .right-oriented>.tee {
        flex-direction: column;
        padding: 0;
        padding-bottom: 40px;
    }

    .view-more {
        padding: 0 20px;
    }

    .view-more>p {
        margin: 0;
        margin-bottom: 160px;
    }

    .about {
        flex-direction: column;
        height: 1000px;
    }

    .info {
        width: 300px;
    }

    .social {
        flex-direction: column;
        padding: 100px 0;
    }

    .social>div {
        width: 300px;
    }

    .follow {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 30px 0;
    }

    .follow>p {
        margin: 0;
    }

    .logo {
        display: none;
    }

    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 14px;
    }

    .links>p {
        font-size: 16px;
        font-weight: 600;
    }

    .copyright {
        text-align: center;
        font-size: 10px;
    }

    .section {
        top: 800px;
    }

    .sitemap {
        padding: 0 20px;
    }

    .bundle {
        padding: 0 20px;
        width: auto;
    }

    .main-image>img {
        width: 330px;
    }

    .title {
        font-size: 24px;
    }

    .top-nav {
        padding: 0 10px;
        white-space: nowrap;
    }

    .page-selector {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        z-index: 5;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        background: #9797978d;
        -webkit-backdrop-filter: blur(24px);
        backdrop-filter: blur(24px);
    }

    .page-selector>p {
        text-shadow: 0px 0px 6px #492c2600;
        color: #492C2600;
        transition: color 0.75s, text-shadow 0.75s;
        font-size: 30px;
        margin: 40px 0;
    }

    .page-selector p:last-child {
        margin-bottom: 240px;
    }

    .brand-name>p {
        margin: auto 20px;
    }

    #cappuccino:hover {
        content: inherit;
    }

    #macchiato:hover {
        content: inherit;
    }

    .menu {
        display: block;
    }

    .close-menu {
        position: absolute;
        z-index: 6;
        right: 32px;
        top: 32px;
    }
}

@media screen and (min-width: 1650px) {
    .tee {
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 2200px) {
    .tee {
        padding-bottom: 0px;
    }
}

@keyframes fadein {
    0% {
        background: #97979700;
        -webkit-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px);
    }

    100% {
        background: #9797978d;
        -webkit-backdrop-filter: blur(24px);
        backdrop-filter: blur(24px);
    }
}

@keyframes fadeout {
    0% {
        background: #9797978d;
        -webkit-backdrop-filter: blur(24px);
        backdrop-filter: blur(24px);
    }

    100% {
        background: #97979700;
        -webkit-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px);
    }
}

.hide {
    animation: fadeout .75s;
}

.hide>p {
    color: #492c2600;
    text-shadow: 0px 0px 6px #492c2600;
}

.show {
    animation: fadein .75s;
}

.show>p {
    color: #492C26C0;
    text-shadow: 0px 0px 6px #492c267e;
}