<div class="flex max-width">
    <div class="flex row footer-container">
        <div class="flex row footer-logo">
            <a href="../"><img src="../img/logo.webp" alt="" width="50" height="50"></a>
            <a href="../">
                <h3>Coffee Culture</h3>
            </a>
        </div>
        <div class="flex row footer-links">


            <div class="flex column align-start align-self-start footer-link">
                <h6>Shop</h6>
                <a href="../#shop">
                    <p class="underline">T-shirt</p>
                </a>
                <a href="../#shop">
                    <p class="underline">Hoodie</p>
                </a>
                <a href="../#shop">
                    <p class="underline">Tote-bag</p>
                </a>
                <a href="../#shop">
                    <p class="underline">Jackets</p>
                </a>
                <a href="../#shop">
                    <p class="underline">Others</p>
                </a>
            </div>

            <div class="flex column align-start align-self-start footer-link">
                <h6>FAQs</h6>
                <a href="../about/">
                    <p class="underline">Informatios</p>
                </a>
                <a href="../about/">
                    <p class="underline">Payments</p>
                </a>
                <a href="../about/">
                    <p class="underline">Shipping</p>
                </a>
                <a href="../about/">
                    <p class="underline">Returns</p>
                </a>
                <a href="../about/">
                    <p class="underline">Graphics</p>
                </a>
            </div>

            <div class="flex column align-start align-self-start footer-link">
                <h6>Company</h6>
                <a href="../about/">
                    <p class="underline">Delivery</p>
                </a>
                <a href="../about/">
                    <p class="underline">Collection</p>
                </a>
                <a href="../about/">
                    <p class="underline">Identity</p>
                </a>
                <a href="../about/">
                    <p class="underline">Inspiration</p>
                </a>
                <a href="../about/">
                    <p class="underline">Contuct us</p>
                </a>
            </div>

        </div>
        <div class="flex column align-start align-self-start footer-followus">
            <h6>Follow us</h6>
            <p>Check out our social media to stay updated on our new drops</p>
            <div class="flex row footer-social">
                <a href="https://www.instagram.com/coffeeculturedesign/" target="_blank"><img src="../svg/instagram.svg" alt="Coffee Culture's Instagram page" width="30" height="30"></a>
                <a href="https://www.threads.com/@coffeeculturedesign" target="_blank"><img src="../svg/threads.svg" alt="Coffee Culture's Threads page" width="30" height="30"></a>
                <a href="https://www.tiktok.com/@coffeeculturedesign2" target="_blank"><img src="../svg/tiktok.svg" alt="Coffee Culture's TikTok page" width="30" height="30"></a>
            </div>
        </div>
    </div>
</div>